html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #45171b;
}
#main {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: #f5e8e1;
  text-align: center;
}
#movielist {
}
h2 {
  color: #68232d;
}
ul.unstyled {
  list-style-type: none;
}
