<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap-css@3.0.2" data-semver="3.0.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link data-require="font-awesome@4.0.3" data-semver="4.0.3" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <script data-require="angular.js@*" data-semver="1.2.2" src="http://code.angularjs.org/1.2.2/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.2/angular-resource.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.0.2" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="javascript/script.js"></script>
  </head>

  <body>
    <div ng-controller="mycontroller">
      <h1>Movies</h1>
      {{mdata}}
      <table class="table">
        <tbody>
          <tr>
            <th>Votes</th>
            <th></th>
            <th>Movie</th>
            <th></th>
          </tr>
          <tr ng-repeat="movie in movies">
            <td>{{movie.data.votes}}</td>
            <td><button ng-click="upVote(movie.token, $index)">
            <i class="fa fa-thumbs-o-up"></i>
            </button>
            </td>
            <td>{{movie.data.title}}</td>
            <td><button ng-click="downVote(movie.token, $index)">
            <i class="fa fa-thumbs-o-down"</button></td>
          </tr>
        </tbody>      </table>
        <form>
        <input type="text" ng-model="movie_name">
        <button ng-click="addMovie(movie_name)">Add Movie</button>
      </form>
    </div>
  </body>

</html>
